server {
    listen       80;
    listen	 [::]:80;
    server_name  <%= domain.name %>;

    <% if domain.redirect_target_url %>
    location / {
      return    301 https://<%= domain.redirect_target_url %>$request_uri;
    }
    <% else %>
    location / {
      return    301 https://$server_name$request_uri;
    }
    <% end %>

    <%= acme_challenge_location %>
}
